@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
p {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  margin: 0 0 1em;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.container h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

